mityadima.ru {
	log
	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:3001
	}

	handle {
		reverse_proxy frontend:3000
	}
}

music.mityadima.ru {
	redir https://mityadima.ru{uri} permanent
}

stats.mityadima.ru {
	encode zstd gzip
	reverse_proxy umami:3000
}
